.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden;

  &--hidden {
    display: none;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    min-height: calc(var(--vh, 1vh) * 100);
  }

  @media (max-width: $tablet - 1) and (orientation: landscape) {
    height: 100vh;
  }
}

.screen__wrapper {
  @include container;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.screen__disclaimer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.screen__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $c-dark;
  background-color: $c-light;
  z-index: 1;


  @media (max-width: $tablet) and (orientation: portrait) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;
    width: 100%;
    height: 18rem;
    transform: translateX(-88%) translateY(78%);
    transition: transform 0.5s;
    opacity: 1;

    &.screen__footer--full {
      transform: translateX(0) translateY(0);
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;
    width: 100%;
    height: 16rem;
  }
}
.screen__footer-wrapper {
  @include container;

  @media (max-width: $tablet) and (orientation: portrait) {
    opacity: 0;

    .screen__footer--full & {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 0.4s;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    opacity: 0;

    .screen__footer--full & {
      opacity: 1;
    }
  }
}

.screen__footer-enlarge {
  @include btn-reset;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  z-index: 1;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;

    .screen__footer--full & {
      opacity: 0;
      pointer-events: none;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;

    .screen__footer--full & {
      opacity: 0;
      pointer-events: none;
    }
  }

  svg {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: block;
    width: 1rem;
    height: 1rem;
  }
}

.screen__footer-collapse {
  @include btn-reset;
  position: absolute;
  top: 0.6rem;
  right: 0.3rem;
  display: none;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  z-index: 1;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
    opacity: 0;
    pointer-events: none;

    .screen__footer--full & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
    opacity: 0;
    pointer-events: none;

    .screen__footer--full & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  svg {
    @include center;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.screen__footer-announce {
  display: none;
  margin-bottom: 1.6rem;
  padding: 3rem 0 0;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
  }
}

.screen__footer-label {
  margin: 0 0 0.3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.2;
}

.screen__footer-date {
  margin: 0;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 0.9;
}

.screen__footer-note {
  padding: 0.8rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
  opacity: 0;

  @media (min-width: $stop-scaling) {
    padding: 8px 0;
    font-size: 12px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0 0 0 2.5rem;
    text-transform: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0 0 0 2.5rem;
    text-transform: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.1;
  }

  p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  svg {
    display: block;
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;

    @media (min-width: $stop-scaling) {
      margin-right: 10px;
      width: 10px;
      height: 10px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      display: none;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      display: none;
    }
  }

  span {
    margin-right: 2rem;

    @media (min-width: $stop-scaling) {
      margin-right: 20px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-right: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-right: 0;
    }

    &.on-top {
      display: none;

      .section-top & {
        display: inline;
      }
    }

    &.on-prizes {
      display: none;

      .section-prizes & {
        display: inline;
      }
    }
  }
}

.screen--story {
  background-color: $c-dark;
  background-image: url("../img/slide1.jpg"), url("../img/slide2.jpg"), url("../img/slide3.jpg"), url("../img/slide4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (orientation: portrait) {
    background-size: auto calc(100vh - 13.8rem), 100% 25rem;
    background-position: top center, bottom center;
  }
}

.screen--game {
  position: relative;
  background-color: $c-dark;

  &::before {
    content: "";
    position: absolute;
    right: -8.5rem;
    bottom: 0;
    width: 32.7rem;
    height: 36.9rem;
    background-image: url("../img/sonya.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include retina {
      background-image: url("../img/sonya@2x.png");
    }

    @media (min-width: $stop-scaling) {
      right: -85px;
      width: 327px;
      height: 369px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      opacity: 0;
    }
  }
  &.active {
    #message-field {
      -webkit-animation: 1s fadeInRightLeft;
         -moz-animation: 1s fadeInRightLeft;
           -o-animation: 1s fadeInRightLeft;
              animation: 1s fadeInRightLeft;
    }
    #message-form {
      .form__button{
        -webkit-animation: 0.8s zoomIn;
           -moz-animation: 0.8s zoomIn;
             -o-animation: 0.8s zoomIn;
                animation: 0.8s zoomIn;
      }
    }
  }
}

.screen--result {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $c-dark;
  opacity: 0;
  pointer-events: none;

  &.screen--show {
    opacity: 1;
    pointer-events: auto;
  }
}

.screen--rules {
  background-color: $c-dark;
}

.screen__bg {
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $c-dark;
  &.active {
    height: 100%;
    -webkit-animation: heightTop 0.7s;
       -moz-animation: heightTop 0.7s;
         -o-animation: heightTop 0.7s;
            animation: heightTop 0.7s;
  }
}
section {
  &.active {
    .screen__footer-note {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}
