@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Radical";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Radical.woff2") format("woff2"), url("../fonts/Radical.woff") format("woff");
}

h1, h2 {
  &[class*="title"].active {
    &:not(.result__title){
      .text__word {
        > span {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
