@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(15%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heightTop {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

@keyframes widthMoreBtn {
  0% {
    width: 30%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeInRightLeft {
  from {
    opacity: 0;
    transform: scaleX(0);
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;

  }

  to {
    opacity: 1;
    transform: scaleX(1);

  }
}

@keyframes MoveRightLeft {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);

  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);

  }
}

@keyframes zoomInPulse {
  0% {
    opacity: 0;
    color: $c-purple;
    transform: scale(0);
  }

  95% {
    color: $c-light;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);

  }
}

@keyframes suitcase {
  0% {
    transform: translate3d(0, 30em, 0) scale(0);
  }

  85% {
    transform: translate3d(0, 4em, 0) scale(1.05);
  }

  100% {
    transform: translate3d(0, 4em, 0) scale(1);

  }
}

@keyframes flamingo {
  0% {
    opacity: 0;
    transform: translate3d(-4.2em, 30em, 0) rotate(-20deg);
  }

  85% {
    opacity: 1;
    transform: translate3d(-4.2em, 6em, 0) rotate(0);
  }

  100% {
    opacity: 1;
    transform: translate3d(-4.2em, 6em, 0) rotate(-4deg);
    transform-origin: 30% 20%;
  }
}
@keyframes shake {
  0% {
    transform: translate3d(-4.2em, 6em, 0) rotate(-4deg);
    transform-origin: 30% 20%;
  }
  100% {
    transform: translate3d(-3.9em, 5em, 0) rotate(7deg);
    transform-origin: 50% 60%;
  }
}

@keyframes leaf_blue_1 {
  0% {
    transform: translate3d(9em, 0em, 0) rotate(-12deg);
  }

  12% {

    transform: translate3d(9em, 2em, 0) rotate(2deg);
  }

  27% {
    opacity: 1;
    transform: translate3d(9em, 2em, 0) rotate(-6deg);
  }

  47% {
    opacity: 1;
    transform: translate3d(9em, 2em, 0) rotate(1deg);
  }

  72% {
    opacity: 1;
    transform: translate3d(9em, 2em, 0) rotate(-3deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(9em, 2em, 0) rotate(0);

  }
}

@keyframes leaf_blue_2 {
  0% {
    transform: translate3d(-9em, 8em, 0) rotate(12deg);
  }

  15% {

    transform: translate3d(-9em, 8em, 0) rotate(-3deg);
  }

  32% {
    opacity: 1;
    transform: translate3d(-9em, 8em, 0) rotate(8deg);
  }

  45% {
    opacity: 1;
    transform: translate3d(-9em, 8em, 0) rotate(-1deg);
  }

  78% {
    opacity: 1;
    transform: translate3d(-9em, 8em, 0) rotate(4deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(-9em, 8em, 0) rotate(0);

  }
}

@keyframes leaf_green {
  0% {
    transform: translate3d(8.5em, 8em, 0) rotate(-50deg);
  }

  15% {

    transform: translate3d(8.5em, 8em, 0) rotate(-5deg);
  }

  35% {
    opacity: 1;
    transform: translate3d(8.5em, 8em, 0) rotate(-20deg);
  }

  55% {
    opacity: 1;
    transform: translate3d(8.5em, 8em, 0) rotate(-8deg);
  }

  75% {
    opacity: 1;
    transform: translate3d(8.5em, 8em, 0) rotate(-15deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(8.5em, 8em, 0) rotate(-10deg);

  }
}
@keyframes roll_forward {
  0%{
     transform:rotate(-360deg);
  }
  100%{
     transform:rotate(0);
     right: 0;
     opacity: 1;
  }
}
@keyframes roll_back {
  0%{
     transform:rotate(360deg);
  }
  100%{
     transform:rotate(0);
     left: 0;
     opacity: 1;
  }
}


