$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;
$c-blue: #a0ceff;
$c-blue-dark: #3e72ee;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$laptop: 1600px;
$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;
